<header>
<div class="blog-name"><a href="/">Navi's Blog</a></div>
<nav>
  <ul>
    <li><a href="/">About</a></li>
    <!--<li><a href="/Projects/">Projects</a></li> -->
    <li><a href="/posts">Blog</a></li>
    <!--<li><a href="/menu3/">Tags</a></li> -->
  </ul>
  <img src="/assets/hamburger.svg" id="menu-icon">
</nav>
</header>
